.our-services-page {
  overflow: auto;
  border: solid 2px red;
}

.service-header {
  border: solid 2px blue;
}

.service-synopsis {
  border: solid 2px green;
}

.service-newsletter {
  border: solid 2px orange;
}
