.our-services-page {
  overflow: auto;
  background-color: white;
  cursor: default;
}

.service-header {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(11, 131, 178);
}

.service-synopsis {
  display: flex;
  justify-content: center;
  margin: 1% 1% 1% 1%;
  font-size: 18px;
}

.service-synopsis > div {
  min-width: 75vw;
  max-width: 75vw;
}

.youtube-video-header {
  margin-top: 0;
  text-align: center;
}

.video-responsive {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 0%;
  position: relative;
  height: 35vh;
  width: 80vw;
}

.video-responsive iframe {
  top: 0;
  height: 85%;
  width: 40%;
  position: absolute;
  border: solid 1px rgb(200, 197, 197);
}

.service-newsletter-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.service-newsletter-cont > h2 {
  color: rgb(11, 131, 178);
}

.service-newsletter-cont > div {
  border-radius: 0.5rem;
  border: solid 4px #101f33;
}

.service-newsletter-cont > div > div {
  border-radius: 0.3rem;
  border: solid 4px rgba(19, 139, 213, 0.397);
}

.pagination-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1% 0% 2% 0%;
}

.button-cont {
  display: flex;
  justify-content: center;
  width: 10%;
}

.button-cont > div {
  cursor: pointer;
  margin-top: 3%;
}

.prev {
  margin-right: 4%;
}

.next {
  margin-left: 4%;
}
