.our-services-page {
  border: solid 2px red;
}

.service-header {
  display: flex;
  justify-content: space-around;
  border: solid 2px blue;
}

.service-body {
  display: flex;
  justify-content: space-around;
  border: solid 2px green;
}
