.contact-us-page {
  border: solid 2px red;
}

.form-style-1 {
  margin: 10px auto;
  width: 60vw;
  padding: 20px 12px 10px 20px;
  font-family: sans-serif;
  border: solid 2px blue;
}

.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}

.form-style-1 label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}

.form-style-1 input[type="text"],
.form-style-1 input[type="date"],
.form-style-1 input[type="datetime"],
.form-style-1 input[type="number"],
.form-style-1 input[type="search"],
.form-style-1 input[type="time"],
.form-style-1 input[type="url"],
.form-style-1 input[type="email"],
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}

.form-style-1 input[type="text"]:focus,
.form-style-1 input[type="email"]:focus,
.form-style-1 input[type="file"]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}

.form-style-1 .field-divided {
  width: 49%;
}

.form-style-1 .field-long {
  width: 100%;
}

.form-style-1 .field-select {
  width: 100%;
}

.form-style-1 .field-textarea {
  font-family: sans-serif;
  height: 150px;
  max-width: 100%;
}

.form-style-1 input[type="submit"],
.form-style-1 input[type="button"] {
  background: #4b99ad;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}

.form-style-1 input[type="submit"]:hover,
.form-style-1 input[type="button"]:hover {
  background: #4691a4;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.form-style-1 .required {
  color: red;
}

.files {
  overflow: auto;
  border: solid 2px red;
  /* my-5 rounded-lg border-dashed border-grey3 border-2 text-center p-10 */
}
/* 
input[type="file"] {
  display: none;
} */

.files > input {
  color: transparent;
  cursor: pointer;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 58vw;
  height: 35vh;
  border: solid 2px blue;
}

::-webkit-file-upload-button {
  display: none;
}

.files > div {
  text-align: center;
  width: 58vw;
  height: 35vh;
  color: black;
  font-family: Arial;
  margin: 0;
  border: solid 2px green;
}

.files > div > div {
  border: solid 2px red;
}

.submit-cont {
  display: flex;
  align-items: center;
  border: solid 2px green;
}

.toaster-submit-confirmation {
  text-align: center;
  padding: 1rem 0rem 1rem 0rem;
  margin-left: 17.2%;
  min-width: 30rem;
  font-weight: bold;
}

.error-cont {
  border: solid 2px purple;
}

/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/

/* .fileUploadIcon {
  border: solid 2px blue;
  inline-block w-5 h-5
} */

/* .photoInput {
  border: solid 2px orange;
  border-2 border-yellow-400 absolute inset-y-0 inset-x-0 z-20 left-0 opacity-0 cursor-pointer
} */

/* .photoList-cont {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: solid 2px pink;
}

.single-photo-cont {
  display: flex;
  justify-content: center;
  min-height: 200px;
  max-height: 200px;
  max-width: 200px;
  min-width: 200px;
  position: relative;
  background-repeat: no-repeat;
  background: center;
  background-size: cover;
  overflow: auto;
  border-radius: 0.6rem;
  border: solid 1px black;
}

.x {
  position: absolute;
  right: 0;
  border-radius: 0.5rem;
  border: none;
}

.photo-name {
  display: flex;
  align-items: center;
  justify-content: start;
  position: absolute;
  bottom: 0;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  max-width: 197px;
  min-width: 197px;
  min-height: 40px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 0.3rem;
  background-color: rgb(235, 226, 226);
}

.photo-name:hover {
  opacity: 0.7;
}

 */
