.home-page {
  overflow: auto;
  cursor: default;
  overflow: auto;
}

.statement {
  max-width: 70%;
  margin: 5% 0% 2% 0%;
  text-align: center;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: sans-serif;
  color: rgb(11, 131, 178);
  /* text-shadow: 1.5px 1.5px black; */
  font-size: 2rem;
  /* border: solid 2px red; */
}

.home-img {
  width: 65vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.synopsis-cont {
  max-width: 70%;
  text-align: center;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: sans-serif;
  color: rgb(11, 131, 178);
  /* text-shadow: 1.5px 1.5px black; */
  font-size: 1.4rem;
}

.synopsis1 {
  margin-top: 2%;
}

.synopsis2 {
  margin-top: 1%;
}

/*https://www.w3.org/Style/Examples/007/slideshow.en.html*/
.slideshow {
  margin: 6% 20% 0% 0%;
  position: relative;
  min-width: 60%;

  /* background: linear-gradient(
    to bottom,
    rgb(204, 234, 233) 0%,
    rgb(170, 195, 194) 25%,
    rgb(123, 141, 141) 50%,
    rgb(103, 117, 117) 75%,
    rgb(81, 93, 93) 100%
  ); */
}

.slideshow > * {
  visibility: hidden;
  position: absolute;
  animation: 70s autoplay1 infinite; /*how many seconds the entire slideshow will play before it starts from the top again*/
}

.quote {
  width: 70vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: x-large;
  color: rgb(149, 149, 207);
  margin: 0rem 0.5rem 0rem 0.5rem;
  /* border: solid 2px white; */
}

.quotee {
  color: rgb(207, 207, 227);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

@keyframes autoplay1 {
  0% {
    visibility: visible;
  }

  /*  visibility = 100 / number of slides */
  /*if there are three slides, then the answer below is 33.33%*/
  /*if there are 10 slides, then the answer below is 10%*/
  14% {
    visibility: hidden;
  }
}

.slideshow > *:nth-child(1) {
  animation-delay: 0s;
}

.slideshow > *:nth-child(2) {
  animation-delay: 10s;
}

.slideshow > *:nth-child(3) {
  animation-delay: 20s;
}

.slideshow > *:nth-child(4) {
  animation-delay: 30s;
}

.slideshow > *:nth-child(5) {
  animation-delay: 40s;
}

.slideshow > *:nth-child(6) {
  animation-delay: 50s;
}

.slideshow > *:nth-child(7) {
  animation-delay: 60s;
}
