.faqs-page {
  cursor: default;
  overflow: auto;
  background-color: white;
}

.faq-full-cont {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  margin: 1rem;
  /* border: solid 2px green; */
}

.faq-single-cont {
  margin: 1rem;
  border-bottom: solid 2px rgb(190, 176, 176);
}

.row-cont {
  display: flex;
  align-items: center;
  /* border: solid 2px green; */
}

.head {
  font-size: 1.5rem;
  font-weight: bold;
}

.q {
  margin: 0.4rem 0rem 0rem 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0rem;
  font-size: 1.1rem;
  font-weight: bold;
  font-style: italic;
  /* border: solid 2px blue; */
}

.a {
  margin: 0.4rem 0rem 0rem 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0rem;
  font-size: 1.1rem;
  /* border: solid 2px orange; */
}

.a-l {
  margin: 0.4rem 0rem 0rem 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0rem;
  font-size: 1.1rem;
  /* border: solid 2px purple; */
}

.link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.1rem;
}
