.membs-page {
  overflow: auto;
  background-color: rgb(246, 244, 241);
}

.membs-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 2px blue;
}

/* .membs-select {
  text-align: center;
  height: 2rem;
  width: 15rem;
  margin-bottom: 10%;
} */

.mems-select {
  background: linear-gradient(
    to bottom,
    rgba(39, 135, 195, 0.397) 0%,
    rgba(179, 200, 213, 0.397) 25%,
    rgba(156, 191, 213, 0.397) 50%,
    rgba(179, 200, 213, 0.397) 75%,
    rgba(19, 139, 213, 0.397) 100%
  );
  border-radius: 0.5rem;
}

.membs-dropdown > button {
  text-align: center;
  height: 2rem;
  width: 8rem;
  cursor: pointer;
}

.asterisk-cont {
  border: solid 2px red;
}

.membs-cont {
  display: flex;
  flex-wrap: wrap;
  margin: 2% 0% 2% 0%;
  min-width: 140vh;
  min-height: 60vh;
  overflow: auto;
  cursor: default;
  border: solid 2px orange;
}

.membs-text-cont {
  display: flex;
  justify-content: space-around;
  min-width: 140vh;
  border: solid 2px red;
}

.membs-text-cont > div {
  border: solid 2px green;
}

.membs-text-cont > div > div {
  min-width: 18rem;
  border: solid 2px blue;
}
