.services-page-a {
  overflow: auto;
  cursor: default;
  overflow: auto;
}

.header-admin {
  margin-top: 2%;
  font-size: 2rem;
  font-weight: bold;
}

.services-dropdown-admin-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.services-select-admin-page {
  background: linear-gradient(
    to bottom,
    rgba(39, 135, 195, 0.397) 0%,
    rgba(179, 200, 213, 0.397) 25%,
    rgba(156, 191, 213, 0.397) 50%,
    rgba(179, 200, 213, 0.397) 75%,
    rgba(19, 139, 213, 0.397) 100%
  );
  border-radius: 0.5rem;
}

.service-cont-admin {
  border-top: solid 2px grey;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 80vw;
  margin-top: 2%;
}

.service-cont-header {
  margin-top: 1%;
  font-size: 2rem;
}

.service-cont-admin > button {
  margin-top: 2%;
  font-size: 1.3rem;
  cursor: pointer;
}

.service-synopsis {
  font-family: sans-serif;
  font-size: 20px;
  min-width: 40vw;
  max-width: 40vw;
  min-height: 15vw;
  max-height: 15vw;
  margin: 2%;
  border: solid rgb(110, 108, 108);
}

.change-newsletter-button {
  text-decoration: underline;
  color: blue;
  padding: 0.5rem;
  cursor: pointer;
}

.newsletter-cont {
  margin: 2%;
  min-height: 10rem;
}

/**/

.newsletter-upload-cont {
  max-width: 48vw;
  min-width: 48vw;
  padding: 20px;
  font-family: sans-serif;
  margin-top: 2%;
  border: solid 3px black;
  border-radius: 0.4rem;
  background-color: #1d395e;
}

.joint-cont {
  display: flex;
  justify-content: space-around;
}

.joint-cont-li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
  max-width: 20vw;
  min-width: 20vw;
}

.newsletter-upload-cont label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
  color: white;
}

.newsletter-upload-cont .required {
  color: red;
}

.newsletter-upload-cont input {
  font-family: sans-serif;
  font-size: 1rem;
}

.newsletter-upload-cont input[type="text"],
input[type="email"],
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}

.newsletter-upload-cont input[type="file"],
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: "none";
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}

.newsletter-upload-cont input[type="text"]:focus,
.newsletter-upload-cont input[type="email"]:focus,
textarea:focus,
.newsletter-upload-cont select:focus {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}

.newsletter-upload-cont .field-divided {
  width: 100%;
  height: 60%;
}

.message-cont {
  display: flex;
  justify-content: center;
}

.message-file {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
  max-width: 43vw;
  min-width: 43vw;
}

.newsletter-upload-cont .field-long {
  width: 100%;
}

.newsletter-upload-cont .field-textarea {
  font-family: sans-serif;
  font-size: 1rem;
  height: 150px;
  max-width: 100%;
  min-width: 100%;
}

.newsletter-upload-cont > h4 {
  display: flex;
  justify-content: center;
  margin: 1rem 0rem 0rem 0rem;
  color: white;
}

.newsletter-upload-cont > h5 {
  display: flex;
  justify-content: center;
  margin: 0rem 0rem 1rem 0rem;
  color: white;
}

.loading-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 45vw;
  min-width: 45vw;
  max-height: 24.5vh;
  min-height: 24.5vh;
  background-color: #162c49;
  opacity: 0.8;
  position: absolute;
}

.loading-cont > h2 {
  color: white;
  margin: 2% 0% 0% 0%;
  font-size: 16px;
}

.loading-cont > h3 {
  color: white;
  margin: 0;
  font-size: 13px;
}

.atchmnts {
  overflow: auto;
  border: dashed 3px rgb(196, 194, 194);
  background-color: white;
  height: 25vh;
  padding: 0;
}

.no-atchmnts {
  overflow: auto;
  border: dashed 3px rgb(196, 194, 194);
  background-color: white;
  height: 25vh;
  color: rgb(255, 255, 255);
}

.no-atchmnts:hover {
  overflow: auto;
  border: dashed 3px rgb(196, 194, 194);
  background-color: rgb(236, 229, 229);
  height: 25vh;
  color: rgb(255, 255, 255);
}

.atchmnts > input[type="file"]::before {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  font-size: 2rem;
  opacity: 0.5;
  padding: 0;
}

.no-atchmnts > input[type="file"]::before {
  content: "Optional- Drag/Drop your utility bills to see how NIMEC can help achieve the best savings";
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  font-size: 17px;
  opacity: 0.5;
  padding-left: 2rem;
}

.atchmnts > input {
  color: transparent;
  cursor: pointer;
  position: absolute;
  margin: 0;
  padding: 0;
  max-width: 43vw;
  min-width: 43vw;
  max-height: 23vh;
  min-height: 23vh;
  /* border: solid 2px blue; */
}

.no-atchmnts > input {
  color: transparent;
  cursor: pointer;
  position: absolute;
  margin: 0;
  padding: 0;
  max-width: 43.5vw;
  min-width: 43.5vw;
  max-height: 24vh;
  min-height: 24vh;

  /* border: solid 2px blue; */
}

.atchmnts > div {
  text-align: center;
  max-width: 44vw;
  min-width: 44vw;
  max-height: 24vh;
  min-height: 24vh;
  color: black;
  font-family: Arial;
  margin: 0;
  /* border: solid 2px red; */
}

.no-atchmnts > div {
  text-align: center;
  max-width: 43vw;
  min-width: 43vw;
  max-height: 24vh;
  min-height: 24vh;
  color: black;
  font-family: Arial;
  margin: 0;
  /* border: solid 2px red; */
}

.atchmnts > div > div {
  font-weight: bold;
}

.no-atchmnts > div > div {
  font-weight: bold;
}

.atchmnt-single-cont {
  display: flex;
  max-width: 44vw;
  min-width: 44vw;
  border-bottom: solid 1px rgb(182, 175, 175);
  padding: 0.3rem 0.1rem 0.1rem 0.7rem;
  margin-top: 1px;
  margin-bottom: 1px;
}

::-webkit-file-upload-button {
  display: none;
}

.fileName-cont-admin {
  display: flex;
  flex: 1;
}

.clear-admin {
  cursor: pointer;
}

.submit-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem 0rem 0rem;
}

.submit-cont > button {
  position: relative;
  padding: 1em 1.8em;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  border-radius: 1rem;
  font-weight: bold;
  border: 1px solid rgb(0, 191, 255);
  background: #162c49;
  color: rgb(0, 191, 255);
  transition: 0.2s;
  cursor: pointer;
  margin-top: 4%;
}

.submit-cont > button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
  pointer-events: none;
}

.submit-cont > button:hover {
  box-shadow: 0 0 10px rgb(0, 191, 255), 0 0 25px rgb(2, 166, 220),
    0 0 50px #162c49;
  transition-delay: 0.9s;
}

.submit-cont > button span {
  position: absolute;
}

.submit-cont > button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgb(2, 166, 220));
}

.submit-cont > button:hover span:nth-child(1) {
  left: 100%;
  transition: 0.8s;
}

.submit-cont > button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgb(2, 166, 220));
}

.submit-cont > button:hover span:nth-child(3) {
  right: 100%;
  transition: 0.8s;
  transition-delay: 0.35s;
}

.submit-cont > button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgb(2, 166, 220));
}

.submit-cont > button:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.15s;
}

.submit-cont > button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgb(2, 166, 220));
}

.submit-cont > button:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

.toaster-submit-confirmation {
  text-align: center;
  padding: 1rem 0rem 1rem 0rem;
  margin-left: 17.2%;
  min-width: 30rem;
  font-weight: bold;
  border: solid 2px black;
}
