.services-page-a {
  overflow: auto;
  cursor: default;
  overflow: auto;
}

.header-admin {
  margin-top: 2%;
  font-size: 2rem;
  font-weight: bold;
}

.services-dropdown-admin-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.services-select-admin-page {
  background: linear-gradient(
    to bottom,
    rgba(39, 135, 195, 0.397) 0%,
    rgba(179, 200, 213, 0.397) 25%,
    rgba(156, 191, 213, 0.397) 50%,
    rgba(179, 200, 213, 0.397) 75%,
    rgba(19, 139, 213, 0.397) 100%
  );
  border-radius: 0.5rem;
}

.service-cont-admin {
  border-top: solid 2px grey;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 80vw;
  margin-top: 2%;
}

#services-form {
  text-align: center;
}

.service-cont-header {
  margin-top: 1%;
  font-size: 2rem;
}

.service-cont-admin > form > button {
  margin-top: 4%;
  font-size: 1.3rem;
  cursor: pointer;
}

.service-synopsis-admin {
  font-family: sans-serif;
  font-size: 20px;
  min-width: 40vw;
  max-width: 40vw;
  min-height: 15vw;
  max-height: 15vw;
  margin: 2%;
  border: solid rgb(110, 108, 108);
}

.change-newsletter-button {
  text-decoration: underline;
  color: blue;
  padding: 0.5rem;
  cursor: pointer;
}

.newsletter-upload-cont {
  max-width: 48vw;
  min-width: 48vw;
  padding: 20px;
  font-family: sans-serif;
  margin-top: 2%;
  border: solid 3px black;
  border-radius: 0.4rem;
  background-color: #1d395e;
}

.newsletter-upload-cont input {
  font-family: sans-serif;
  font-size: 1rem;
}

.newsletter-upload-cont input[type="text"]:focus {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}

.newsletter-upload-cont > h5 {
  display: flex;
  justify-content: center;
  margin: 0rem 0rem 1rem 0rem;
  color: white;
}

.atchmnts {
  overflow: auto;
  border: dashed 3px rgb(196, 194, 194);
  background-color: white;
  height: 25vh;
  padding: 0;
}

.no-atchmnts {
  overflow: auto;
  border: dashed 3px rgb(196, 194, 194);
  background-color: white;
  height: 25vh;
  color: rgb(255, 255, 255);
}

.no-atchmnts:hover {
  overflow: auto;
  border: dashed 3px rgb(196, 194, 194);
  background-color: rgb(236, 229, 229);
  height: 25vh;
  color: rgb(255, 255, 255);
}

.atchmnts > input[type="file"]::before {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  opacity: 0.5;
  padding: 0;
}

.no-atchmnts > input[type="file"]::before {
  content: "Drag/Drop pdf here";
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13%;
  font-size: 17px;
  opacity: 0.5;
  padding-left: 2rem;
}

.atchmnts > input {
  color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
  max-width: 43vw;
  min-width: 43vw;
  max-height: 23vh;
  min-height: 23vh;
}

.no-atchmnts > input {
  color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
  max-width: 43.5vw;
  min-width: 43.5vw;
  max-height: 24vh;
  min-height: 24vh;
}

.atchmnts > div {
  text-align: center;
  max-width: 42vw;
  min-width: 42vw;
  max-height: 24vh;
  min-height: 24vh;
  color: black;
  font-family: Arial;
  margin: 0;
}

.no-atchmnts > div {
  text-align: center;
  max-width: 43vw;
  min-width: 43vw;
  max-height: 24vh;
  min-height: 24vh;
  color: black;
  font-family: Arial;
  margin: 0;
}

.atchmnts > div > div {
  font-weight: bold;
}

.no-atchmnts > div > div {
  font-weight: bold;
}

.atchmnt-single-cont {
  display: flex;
  max-width: 44vw;
  min-width: 44vw;
  border-bottom: solid 1px rgb(182, 175, 175);
  padding: 0.3rem 0.1rem 0.1rem 0.7rem;
  margin-top: 1px;
  margin-bottom: 1px;
}

.fileName-cont-admin {
  display: flex;
  flex: 1;
}

.clear-admin {
  cursor: pointer;
}

.loading-cont-admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 44.5vw;
  min-width: 44.5vw;
  max-height: 24vh;
  min-height: 24vh;
  background-color: #162c49;
  opacity: 0.8;
}

.loading-cont-admin > h2 {
  color: white;
  margin: 2% 0% 0% 0%;
  font-size: 16px;
}

.loading-cont-admin > h3 {
  color: white;
  margin: 0;
  font-size: 13px;
}
