.memberships-page-a {
  overflow: auto;
  cursor: default;
  overflow: auto;
}

.header-admin {
  margin-top: 2%;
  font-size: 2rem;
  font-weight: bold;
}

.buttons-cont {
  display: flex;
  justify-content: space-around;
  width: 50vw;
  margin-top: 3%;
}

.buttons-cont > button {
  width: 6rem;
  height: 2rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.edit-cont {
  margin-top: 5%;
  width: 80vw;
  min-height: 70vh;
  border: solid 2px rgb(104, 102, 102);
}

.edit-header {
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
}

.cancel-cont {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  color: blue;
  text-decoration: underline;
  border-bottom: solid 2px rgb(181, 179, 179);
  padding-bottom: 1rem;
}

.cancel-cont > div {
  cursor: pointer;
}

.member-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: solid 2px red; */
}

.input-cont {
  display: flex;
  margin: 1rem;
  padding-bottom: 1%;
  border-bottom: solid 2px rgb(188, 183, 183);
}

.input-cont > div {
  display: flex;
  align-items: center;
  margin-right: 1%;
}

.param-name {
  font-size: 1.5rem;
}

.input-cont > input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
}

.input-cont > input[type="text"] {
  font-size: 1.5rem;
  width: 40rem;
}

.member-cont > .submit-cont-admin {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.member-cont > .submit-cont-admin > button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 2rem;
  font-size: 1.5rem;
  padding: 1.2rem;
}
